# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual env
.env
.venv/

# dbt and profiles
profiles.yml
target/
dbt_packages/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*variables.tf

# OS
.DS_Store

# Python logs
*.log

# Secrets
*.json
creds/

# Local airflow
airflow/airflow.db
airflow/logs/

# CI
.github/workflows/*.yml

# Local notebooks
.ipynb_checkpoints/

# Ignore docker image build artifacts
*.tar


.github/
.pytest_cache
airflow/
dbt/
# *iam.tf
*snowflake.tf
pipeline/
tests/
docs/
snowflake/

..pre-commit-config.yaml
.mkdocs.yml





